name: release

on:
  push:
    tags:
      - 'v*.*.*'

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Write release version
        run: |
          VERSION=${GITHUB_REF_NAME#v}
          echo Version: $VERSION
          echo "VERSION=$VERSION" >> $GITHUB_ENV

      - name: Build and push
        uses: docker/build-push-action@v3
        with:
          context: .
          build-args: |
            VITE_API_URL=${{ secrets.BUX_WALLET_API_URL }}
            VITE_BUX_PAYMAIL_DOMAIN=${{ secrets.BUX_PAYMAIL_DOMAIN }}
          file: ./release/Dockerfile
          push: true
          tags: ${{ secrets.DOCKERHUB_USERNAME }}/bux-wallet-frontend:${{ env.VERSION }}
